:root{
    --size-case : 40px;
    --font-size-number : 15px;
}

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.containerCalendar{
    display: flex;
    flex-wrap: wrap;
}

.calendar{
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border: 1px solid black;
}

.calendar tr{
    border-collapse: collapse;
    font-weight: normal;
    padding: 0;
}

.calendar td{
    padding: 0;
    text-align: center;
    font-size: 15px;
    width: var(--size-case);
    height: var(--size-case);
}

.calendar .holiday{
    background-color: rgb(85, 157, 250);
}

.calendar .today{
    position: relative;
}

.calendar .today::after{
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    border-radius: 50%;
}
